name: build-all

on:
  workflow_dispatch:
  push:
    branches: ["main"]

jobs:
  build:
    strategy:
      matrix:
        os: [windows-latest, macos-latest, ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "20"
      - run: npm ci
      - name: Build installers
        run: npm run dist
        env:
          CSC_IDENTITY_AUTO_DISCOVERY: "false"
          ELECTRON_BUILDER_DISABLE_SIGNING: "true"
      - uses: actions/upload-artifact@v4
        with:
          name: dist-${{ matrix.os }}
          path: dist/**
